@import "./mixins.scss";

.side-menu{
    z-index: 2;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 320px;
    
    background: #ffffff;
    &__header{
        padding-top: 18px;
        @media (min-width:1120px) {padding-top: 32px;}
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            justify-content: space-between;
        display: flex;
        align-items: center;
        }
    }

    &__list{
        padding: 0 0 32px 0;
        margin-bottom: 0;
    }



    &__link{
        position: relative;
        font-size: em(16);
        line-height: em(24);
        margin-top: 24px;
        @media (min-width: 1120px) {
            margin-top: 32px;
        }
        list-style-type: none;
        &::before{
            transition: all 0.25s;
            opacity: 0;
            border-radius: 0px 4px 4px 0;
            position: absolute;
            height: 28px;
            width: 4px;
            left: -24px;
            top: -3px;
            background-color: #41F6D7;
            content:'';
        }

        &:hover{    
            a{
                color: #7E7E82;
            }
            transition: all 0.5s;
            &::before{
                opacity: 1;
            }
        }
        a{
            
            text-decoration: none;
            color: #1B1C21;
        }
    }

    &__footer{
        display: flex;
        flex-wrap: wrap;
        
    }
    &__email{
        margin-top: 16px;
        flex: 1 0 100%;
        text-decoration: none;
        color: #1B1C21;
        transition: color 0.3s;
        &:hover{
            color: #7E7E82;
        }
    }

    &__phoneNumber{
        flex: 1 0 100%;
        margin-top: 12px;
        font-size: em(24);
        text-decoration: none;
        color: #1B1C21;
        font-weight: bold;
        transition: color 0.3s;
        &:hover{
            color: #7E7E82;
        }
    }
    &__languageSelect{
        flex: 1 0 100%;
        align-self: flex-end;
        
        margin-left: 0;
        padding-left: 0;
        line-height: em(24);
        font-size: em(16);
        li{
        display: inline;
        }
        a{
            text-decoration: none;
            color: #1B1C21;
            transition: color 0.3s;
            &:hover{
                color: #7e7e82;
            }
        }
        
    }
    @media (max-width: 1120px) {
        position: absolute;
        transition: transform 0.5s, visibility 0.7s;
        transform: translateX(-360px);
        top: 0;
        left: 0;
        box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
        visibility: hidden;
    }
}

.side-menu.visible{
    transform: translateX(0px);
    // display: flex;
    visibility: visible;
}
