@import "./../fonts/stylesheet.css";
@import "./aside.scss";
@import "./mixins.scss";

//px to em


body {
    font-family: 'TT Lakes';
}

.company-logo {
    background-image: url('./../img/icons/Group.svg');
    width: 96px;
    height: 50px;

    &_header {
        margin-left: 20px;

        @media (min-width: 768px) and (max-width: 1120px) {
            margin-left: 0;
        }
    }
}

.pink-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    border: none;

    &_menu {
        background-image: url('./../img/icons/burger.svg');
        @media (min-width: 1120px) {
            display: none;
        }
    }

    &_chat {
        background-image: url('./../img/icons/chat.svg');
    }

    &_call {
        background-image: url('./../img/icons/call.svg');
        margin: 0 20px;
    }

    &_profile {
        background-image: url('./../img/icons/profile.svg');
    }

    &_repair-request {
        background-image: url('./../img/icons/repair.svg');
        margin-right: 20px;
    }

    &_repair-status {
        background-image: url('./../img/icons/checkstatus.svg');
    }

    &_search {
        background-image: url('./../img/icons/search.svg');
    }


    &_close {
        background-image: url('./../img/icons/close.svg');
        margin-right: 16px;

        @media (min-width: 1120px) {
            display: none;
        }
    }

    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }

}

.page-header {
    @media (min-width: 1120px) {
        display: none;
    }

    &>div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child .page-header__border {
            @media (max-width: 1120px) {
                display: flex;
            }
        }

        &:first-child .page-header__border {
            @media (min-width: 768px) and (max-width: 1120px) {
                display: flex;
            }
        }
    }

    &__border{
        display: none;
        height: 30px;
        margin: 0 20px;
        border: 1px solid #EAEAEA;
    }
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;

    @include responsiveWrap();
}

.repair-block {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    &_desktop
        {
            display: none;
            button:before{
                font-size: 16px;
                color: black;
                white-space: nowrap;
                position: relative;
            }
            button:first-child{
                margin-right: 160px;
                &:before{
                    content: 'Оставить заявку';
                    right: 143px;
                    }
            }
            button:last-child:before{
                content: 'Статус ремонта';
                right: 137px;
                }
            @media (min-width:1120px) {
                display: flex;
            }
    }
}

.mainContent {
    @media (min-width: 1120px) {
        display: flex;
    }

}


.contact-links {
    display: none;
    &_header {
        @media (min-width: 768px) and (max-width: 1120px) {
            display: flex;
        }
    }
    &_menu{
        display: flex;
    }
}


.content-header {
    @include responsiveWrap();
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
    background-color: #F8F8F8;

    @media (min-width:1120px) {
        padding-top: 42px;
        justify-content: space-between;
        flex: 1 1 50%;
        align-content: flex-start;
    }

    &__title {
        margin: 0;
        font-size: em(28);
        position: relative;

        &::before {
            border-radius: 0px 4px 4px 0;
            position: absolute;
            height: 40px;
            width: 4px;
            top: -4px;
            background-color: #41F6D7;
            content: '';

            @media (max-width: 768px) {
                left: -16px;
            }

            @media (min-width: 768px) and (max-width: 1120px) {
                left: -24px;
            }

            @media (min-width: 1120px) {
                left: -32px;
            }
        }
    }

    &__navigation {
        display: flex;
        overflow-y: scroll;
        padding: 2px;
        flex: 1 1 100%;

        @media (max-width: 768px) {
            margin-bottom: 24px;
            margin-top: 24px;
        }

        @media (min-width: 768px) and (max-width: 1120px) {
            margin-bottom: 32px;
            margin-top: 32px;
        }

        @media (min-width: 1120px) {
            margin-top: 8px;
            margin-bottom: 8px;
            flex-wrap: wrap;
        }
    }

    &__link {
        padding: 8px 20px;
        list-style-type: none;
        transition: all 0.3s ease-out;
        border-radius: 6px;

        a {
            white-space: nowrap;
            color: #7E7E82;
            text-decoration: none;
        }

        &:hover {
            background: #FFFFFF;
            box-shadow: 0px 0px 0px 2px rgba(184, 255, 236, 1);
        }
    }
}


.about-us {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    flex: 1 1 100%;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    @media (min-width: 768px) {
        justify-content: space-between;
        &__text,
        &__image {
            flex: 0 0 45%;
            flex-wrap: nowrap;
        }

    }

    &__text {
        color: #1B1C21;
        font-size: em(14);
        line-height: em(20);

        @media (max-width: 768px) {
            padding: 0 16px;
        }
        
        div.showtext{
            max-height: 500px;

        }

        div {
            transition: max-height 0.25s;
            overflow: hidden;
            max-height: 160px;
            p:first-child{
                margin-top: 0;
            }
            @media (max-width: 768px) {
                max-height: 80px;
            }

            @media (max-width: 1120px) {
                max-height: 160px;
            }
        }
    }

    &__read-more {
        font-size: em(16);
        line-height: em(24);
        margin-bottom: 16px;
        margin-top: 16px;
        font-weight: 500;
        border: none;
        background: none;
        text-decoration: none;
        color: #1B1C21;
        margin-left: 8px;
        display: flex;
        transition: color 0.3s;
        &::before {
            margin-right: 16px;
            align-self: center;
            width: 8px;
            height: 11px;
            content: ' ';
            background-image: url('./../img/icons/double_arrow_down.svg');
            background-repeat: no-repeat;
        }
        &:hover{
            color: #7e7e82;
        }
        &_hide{
            display: none;
            &:before{
                transform: scaleY(-1);
            }
        }
    }

    &__image {


        img {
            max-width: 100%;
            box-sizing: border-box;
            border: 1px solid #9ed1af;

            @media (min-width: 768px) {
                border-radius: 6px;
            }
        }
    }
}


//after import