@mixin bgOfCircle($icon){
    content: ' ';
    border: none;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    input{
    position: absolute;
    padding: 20px;
    background: none;
    border: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0;
    z-index: 2;
    }
    &:hover{
        &::after{
            filter: drop-shadow(0px 1px 0.2px #7db98a) drop-shadow(0px -1px 0.2px #7db98a) drop-shadow(1px 0px 0.2px #7db98a) drop-shadow(-1px 0px 0.2px #7db98a);
        }
    }
    &::before{
        content: " ";
        position: absolute;
        background-color: #ff3e79;
        border-radius: 50%;
        padding: 20px;
        right: 0px;
        top: 0px;
    }
    &::after{
        content: " ";
        position: absolute;
        border-radius: 50%;
        padding: 20px;
        right: 0;
        background-repeat: no-repeat;
        top: 0;
        background-position: center;
        background-image: url('./../img/icons/'+$icon+'.svg');

    }
}